numpy
pandas
scikit-learn
matplotlib
seaborn
tensorflow
keras
flask
gunicorn
requests
beautifulsoup4
lxml
uvicorn
fastapi
nltk
regex
from_root
google-cloud-storage
Jinja2
transformers
torch
datasets
-e .