numpy
pandas
scikit-learn

matplotlib
seaborn

torch
transformers
datasets

fastapi
uvicorn
gunicorn
Jinja2
python-multipart

requests
beautifulsoup4
lxml

nltk
regex

google-cloud-storage
from_root

black
flake8
pytest

-e .